.Wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}
.Content {
  display: flex;
}

.PageCategory {
  display: flex;
  justify-content: center;
}

.PageGood {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border: 1px solid black;
  margin: 20px 20px;
  text-decoration: none;
  color: black;
  padding: 30px;
}

.GoodImg {
  max-width: 100px;
  margin: 20px;
}

.LeftMenu {
  display: flex;
  margin: 0;
  padding: 0;
}

.LeftMenu__items-list {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  max-width: 200px;
}

.a {
color: black;
}

a:visited {
color: black;
}
